@base-color: #0c04101;
@main-color: #ffd300;
@sub-color: #212f49;
@accent-color: #fff;

.jumbotron {
      padding: 30px;
      margin-bottom: 30px;
      color: inherit;
      background: -moz-linear-gradient(top center, #f7f7f7 0%, #ffffcc 100%);
      background: -webkit-gradient(linear, center top, center bottom, from(#f7f7f7), to(#ffffcc));
      background: linear-gradient(top center, #f7f7f7 0%, #ffffcc 100%);
}

input[type=file] {
    display: none;
}

#up-image {
    cursor: pointer;
}

.caption {position: relative;}
 
.caption img {
//   border: none !important;
//   margin: 0 !important;
//   padding: 0 !important;
}
 
.caption p {
   position: absolute;
   left: 0;
   bottom: 0;
   color: #fff;
   padding: 5px;
   background: #000;
   filter: Alpha(opacity=70);
   opacity:0.7;
}

#map {
    width: 500px;
    height: 300px;
}