.jumbotron {
      padding: 30px;
      margin-bottom: 30px;
      color: inherit;
      background: -moz-linear-gradient(top center, #f7f7f7 0%, #ffffcc 100%);
      background: -webkit-gradient(linear, center top, center bottom, from(#f7f7f7), to(#ffffcc));
      background: linear-gradient(top center, #f7f7f7 0%, #ffffcc 100%);
}

input[type=file] {
    display: none;
}

#up-image {
    cursor: pointer;
}